@import "@/styles/variables.scss";

.about-section {
  padding-block: 70px;
  @media (max-width: 768px) {
    padding-block: 50px;
  }
  :global {
    .row {
      row-gap: 70px;
    }

    .row {
      @media (max-width: 625px) {
        overflow: hidden;
        overflow-x: auto;
        padding-block: 30px 10px;
        row-gap: 0;
        flex-wrap: nowrap;
        .col-lg-3 {
          width: 70%;
        }
      }
    }
    .sec-head {
      text-align: center;
      margin-bottom: 70px;
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }

      h1 {
        font-weight: 700;
        font-size: 35px;
        color: #121212;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          font-size: 28px;
        }
        @media (max-width: 480px) {
          font-size: 22px;
        }
      }
      p {
        margin: 0 auto;
        max-width: 70%;
        @media (max-width: 768px) {
          max-width: 90%;
          font-size: 16px;
        }
      }
    }
    .item {
      background: #cffd55;
      border-radius: 35px;
      text-align: center;
      padding: 30px;
      height: 100%;
      margin: 0 auto;
      max-width: 90%;
      @media (max-width: 625px) {
        max-width: 100%;
      }
      .icon {
        margin: -60px auto 0;
        img {
          object-fit: contain;
        }
      }
      h2 {
        font-weight: 700;
        font-size: 19px;
        color: #121212;
        margin-top: 15px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}
