@import "@/styles/variables.scss";

.header {
  :global {
    .top-bar {
      a {
        transition: $transition;

        &:hover {
          color: $secondary-color !important;
        }
      }
    }
    .bottom-bar {
      box-shadow: 0px 15px 24px -6px rgba(0, 0, 0, 0.05);
      padding: 20px 30px;
      .logo {
        img {
          object-fit: contain;
        }
      }
      .menu {
        li {
          a {
            font-weight: 600;
            color: $primary-color;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 3px;
              bottom: -5px;
              left: 0;
              border-radius: 50px;
              background-color: $secondary-color;
              transition: width 0.3s;
            }

            &:hover,
            &.active {
              &::after {
                width: 100%;
                right: 0;
                left: auto;
              }
            }
          }
        }
      }
      .actions {
        .cart-btn {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: $primary-color;
          .item-count {
            background-color: $secondary-color;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 700;
            color: $primary-color;
            left: -5px;
            top: -5px;
            font-style: normal;
          }
        }
      }
    }
  }
}
