@import "@/styles/variables.scss";

.products-section {
  background-color: #f8a4f9;
  position: relative;
  padding-block: 70px;
  z-index: 1;
  overflow: hidden;
  @media (max-width: 768px) {
    padding-block: 50px;
  }

  :global {
    .pattern-1 {
      position: absolute;
      top: 30pxx;
      right: -140px;
      rotate: -20deg;
      z-index: -1;
    }
    .pattern-2 {
      position: absolute;
      top: 0;
      left: -100px;
      z-index: -1;
    }
    .pattern-3 {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    .sec-head {
      text-align: center;
      margin-bottom: 70px;
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
      h3 {
        font-weight: 700;
        font-size: 35px;
        color: #121212;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          font-size: 28px;
        }
        @media (max-width: 480px) {
          font-size: 22px;
        }
      }
      p {
        margin: 0 auto;
        max-width: 70%;
        @media (max-width: 768px) {
          max-width: 90%;
          font-size: 14px;
        }
      }
    }
    .product-row-item {
      margin-top: 70px;
      @media (max-width: 768px) {
        margin-top: 40px;
      }
      .swiper {
        height: 100%;
        padding-inline: 70px;
        margin-inline: -70px;

        .swiper-wrapper {
          align-items: stretch;
        }
        .swiper-slide {
          display: flex;
          align-items: stretch;
          height: auto;
        }
      }
      .row-head {
        @media (max-width: 625px) {
          flex-direction: column;
          align-items: center;
          gap: 15px;
        }
        h4 {
          font-size: 30px;
          font-weight: 700;
          color: #303137;
          @media (max-width: 625px) {
            font-size: 22px;
          }
        }
      }
      .nav-tabs {
        display: flex;
        gap: 20px;
        align-items: center;
        border: 0;
        @media (max-width: 625px) {
          overflow: hidden;
          overflow-x: auto;
          padding-bottom: 10px;
          flex-wrap: nowrap;
          white-space: nowrap;
          gap: 10px;
        }
        .nav-item {
          .nav-link {
            height: 45px;
            padding: 0 20px;
            border: 1px solid #37383e;
            background-color: #f8f8f8;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            box-shadow: none;
            border-radius: 50px;
            transition: $transition;
            @media (max-width: 625px) {
              height: 40px;
              font-size: 14px;
            }

            &.active {
              background: #cffd55;
              border-color: #cffd55;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
              font-weight: 700;
            }
          }
        }
      }
    }
    .products-list {
      position: relative;

      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        box-shadow: 0 0 0 5px #f8a4f9;

        &::after {
          display: none;
        }
      }
      .swiper-button-prev {
        left: 0;
        right: auto;
        background: url(../assets/arrow-left.svg) no-repeat center
          center/contain;
        @media (max-width: 1300px) {
          left: 20px;
        }
      }
      .swiper-button-next {
        right: 0;
        background: url(../assets/arrow-right.svg) no-repeat center
          center/contain;
        @media (max-width: 1300px) {
          right: 20px;
        }
      }
    }
    .load-more {
      .btn {
        min-width: 300px;
      }
    }
  }
}
