@import "@/styles/variables.scss";

.shop-wrapper {
  padding-top: 50px;
  @media (max-width: 768px) {
    padding-top: 30px;
  }
  @media (max-width: 625px) {
    padding-bottom: 50px;
  }
  :global {
    .shop-filter {
      background-color: $primary-color;
      border-radius: 50px;
      padding: 15px 25px;
      margin-bottom: 50px;
      @media (max-width: 768px) {
        flex-direction: column;
        border-radius: 25px;
        padding: 15px;
        margin-bottom: 0;
      }
      .inputs-wrap {
        @media (max-width: 768px) {
          flex-direction: column;
          width: 100%;
        }
        .form-control {
          height: 50px;
          border-radius: 50px;
          border: 0;
          box-shadow: none;
          font-size: 16px;
          font-weight: 700;
          color: #999;
          min-width: 300px;
          padding-inline: 30px;
          @media (max-width: 768px) {
            min-width: 100%;
            width: 100%;
            font-size: 14px;
          }
        }
        .search {
          position: relative;
          @media (max-width: 768px) {
            min-width: 100%;
            width: 100%;
          }
          button {
            position: absolute;
            right: 15px;
            top: 5px;
            padding: 0;
            border: 0;
            background-color: $third-color;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
              right: 5px;
              top: 5px;
            }
            svg {
              scale: -1 1;
            }
          }
          .form-control {
            padding-inline: 70px 20px;
            min-width: 500px;
            @media (max-width: 768px) {
              min-width: 100%;
              width: 100%;
              padding-inline: 60px 20px;
            }
            &::placeholder {
              color: inherit;
            }
          }
        }
      }
      .filter-btn {
        background-color: $third-color;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        flex-shrink: 0;
        @media (max-width: 768px) {
          display: none;
        }
      }
      .open-filter {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 0;
        border-radius: 50px;
        padding: 0 20px;
        height: 50px;
        background-color: $third-color;
        color: #fff;
        min-width: 120px;
        width: 100%;
        @media (max-width: 768px) {
          display: flex;
        }
      }
    }
    .shop-sidebar {
      @media (max-width: 768px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 10;
        padding: 30px;
        overflow: hidden;
        overflow-y: auto;
        transition: $transition;
        translate: -120% 0;
        &.active {
          translate: 0 0;
        }
      }
      .head {
        display: none !important;
        padding-bottom: 30px;
        @media (max-width: 768px) {
          display: flex !important;
        }
        button {
          padding: 0;
          background-color: transparent;
          border: 0;
          &.filter-btn {
            color: red;
          }
        }
      }

      .widget {
        border: 5px solid $secondary-color;
        padding: 20px;
        h3 {
          font-weight: 700;
          font-size: 22px;
          position: relative;
          padding-bottom: 2px;
          margin-bottom: 30px;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 60px;
            background-color: $third-color;
            height: 3px;
            right: 0;
          }
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .price-range-wrap {
          .price-text {
            margin-bottom: 20px;
            font-size: 19px;
            font-weight: 700;
            div {
              color: $third-color;
              font-family: "anybody";
            }
          }
          .thumb {
            background-color: #fff;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            border: 7px solid $third-color;
          }
          .btn {
            width: 100%;
            background-color: $third-color;
            border-color: $third-color;
            color: #fff;
            margin-top: 20px;
            &:hover {
              color: $third-color;
              border-color: $third-color !important;
            }
          }
        }

        ul {
          li {
            a {
              color: #000;
              font-weight: 700;
              font-size: 16px;
              transition: $transition;
              &:hover {
                color: $third-color;
                padding-inline: 5px;
              }
              span {
                font-family: "anybody";
              }
            }
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }

        .featured-product {
          &:not(:last-child) {
            margin-bottom: 25px;
          }
          .img {
            width: 80px;
            height: 100px;
            border: 3px solid #f2f2f2;
            padding: 10px;
            flex-shrink: 0;
            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            a {
              position: absolute;
              inset: 0;
              z-index: 1;
            }
          }
          .info {
            h4 {
              font-size: 16px;
              font-weight: 700;
              color: #000;
              margin-bottom: 10px;
              a {
                color: inherit;

                font-size: inherit;
                transition: $transition;

                &:hover {
                  color: $third-color;
                }
              }
            }
            p {
              font-size: 14px;
              margin-bottom: 10px;
              color: #999;
            }
            span {
              color: $third-color;
              font-family: "anybody";
              font-weight: 700;
              font-size: 20px;
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
    .product-block {
      background: #f3f3f3;
      border-radius: 13px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .list {
      .product-block {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 625px) {
          flex-direction: column;
          text-align: center;
        }
        .img {
          width: 250px;
          height: 250px;
          padding-top: 0;
          @media (max-width: 625px) {
            width: 100%;
          }
        }
        .info {
          flex-grow: 1;
          .title {
            a {
              -webkit-line-clamp: 3;
              line-clamp: 3;
              min-height: auto;
              font-size: 20px;
            }
          }
          .description {
            min-height: auto;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            font-size: 16px;
          }
          .price {
            font-size: 25px;
            font-family: "anybody";
          }
        }
      }
    }
  }
}
