@import "@/styles/variables.scss";

.hero-section {
  background-color: $primary-color;
  padding-block: 280px 50px;
  position: relative;
  z-index: 1;

  :global {
    .pattern-1 {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .pattern-2 {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .pattern-3 {
      position: absolute;
      left: 0;
      bottom: 185px;
      scale: -1 1;
    }
    .item {
      .image {
        img {
          object-fit: contain;
        }
      }
      .content {
        h1 {
          color: #fff;
          font-weight: 700;
          font-size: 40px;
        }
        p {
          color: #fff;
          font-size: 20px;
        }
      }
    }

    .swiper-pagination {
      right: 16%;
      width: fit-content !important;
      left: auto !important;
    }
  }
}
