@import "@/styles/variables.scss";

.reviews-section {
  background: url("../assets/bg.jpg") no-repeat center center/cover;
  padding-block: 70px;
  @media (max-width: 768px) {
    padding-block: 50px;
  }
  :global {
    .sec-head {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
      h3 {
        font-weight: 700;
        font-size: 35px;
        color: #121212;
        @media (max-width: 768px) {
          font-size: 28px;
        }
        @media (max-width: 480px) {
          font-size: 22px;
        }
      }
    }
    .block {
      position: relative;
      min-height: 430px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: url(../assets/review-bg.png) no-repeat center center/contain;
      @media (max-width: 1300px) {
        min-height: 300px;
      }
      @media (max-width: 768px) {
        min-height: 330px;
        padding: 40px;
      }
      &::after {
        content: "";
        position: absolute;
        right: 80px;
        bottom: 60px;
        width: 60px;
        height: 60px;
        background: url(../assets/quote.png) no-repeat center center/contain;
        @media (max-width: 1300px) {
          right: 105px;
          bottom: 25px;
        }
        @media (max-width: 768px) {
          right: 170px;
          bottom: 30px;
        }
        @media (max-width: 480px) {
          right: 45px;
          bottom: 70px;
          width: 45px;
          height: 45px;
        }
      }
      .rate {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          margin-bottom: 10px;
        }
      }
      .desc {
        max-width: 200px;
        margin: 0 auto 20px;
        @media (max-width: 768px) {
          max-width: 100%;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          color: #121212;
          line-height: 1.5;
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
      .user-info {
        h4 {
          font-size: 20px;
          font-weight: 700;
          color: #121212;
          margin-bottom: 5px;
          @media (max-width: 768px) {
            font-size: 18px;
            margin-bottom: 0;
          }
        }
        span {
          color: #212529;
          @media (max-width: 768px) {
            font-size: 13px;
          }
        }
      }
    }
    .sw-navigation {
      position: relative;
      z-index: 6;
      button {
        all: unset;
        cursor: pointer;
        transition: $transition;
        &.swiper-button-disabled {
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
  }
}
