@import "@/styles/variables.scss";

.single-product-section {
  position: relative;
  z-index: 6;
  :global {
    .product-info {
      background-color: #f8a4f9;
      padding: 35px 0;
      @media (max-width: 1200px) {
        padding: 30px 0;
      }
      .inner {
        .product-images {
          background-color: #fff;
          padding: 30px;
          border-radius: 30px;
          height: 100%;
          .product-main-image {
            .item {
              border-radius: 30px;
              background-color: #fff;
              margin-bottom: 15px;
              height: 320px;

              @media (max-width: 480px) {
                height: 300px;
                border-radius: 10px;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .product-thumbs {
            .item {
              background-color: #fff;
              padding: 10px;
              transition: $transition;
              height: 120px;
              border-radius: 20px;
              cursor: pointer;

              @media (max-width: 480px) {
                height: 80px;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .swiper-slide-thumb-active {
              .item {
                border: 5px solid $secondary-color;
                cursor: default;
                @media (max-width: 480px) {
                  border: 3px solid $secondary-color;
                }
              }
            }
          }
        }
        .product-details {
          background-color: #fff;
          padding: 30px;
          border-radius: 30px;
          .title {
            margin-bottom: 15px;
            h1 {
              font-weight: 600;
              font-size: 35px;
              color: $primary-color;
              margin-top: 15px;
              line-height: 1.4;
              @media (max-width: 1200px) {
                font-size: 25px;
              }
            }
            .actions {
              button {
                padding: 0;
                background-color: transparent;
                border: 0;
              }
            }
          }
          .review {
            margin-bottom: 20px;
            .stars {
              background-color: $secondary-color;
              padding: 2px 10px;
            }
            span {
              font-weight: 700;
              display: inline-block;
            }
          }

          .description {
            margin-bottom: 30px;
            color: #555555;
            font-size: 16px;
            font-weight: 500;
          }

          .location {
            margin-bottom: 30px;
            .icon {
              width: 40px;
              height: 40px;
              background-color: $secondary-color;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-size: 25px;
            }
            span {
              color: $primary-color;
              font-weight: 700;
              font-size: 18px;
            }
          }

          .price-range {
            background-color: #a1a3ab17;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 25px;
            h4 {
              font-size: 15px;
              margin-bottom: 5px;
            }
            p {
              color: $primary-color;
              font-weight: 700;
              font-size: 18px;
              span {
                display: flex;
                align-items: center;
                gap: 2px;
              }
            }
          }

          .btns {
            .btn {
              width: calc(100% / 2 - 10px);
              &:first-child {
                background-color: $primary-color;
                color: #fff;
                border-color: $primary-color;
                &:hover {
                  color: $primary-color;
                }
              }
            }
          }
        }
      }
    }

    .product-description {
      padding-block: 70px 50px;
      @media (max-width: 480px) {
        padding-block: 50px;
      }

      .content {
        h4 {
          position: relative;
          font-weight: 700;
          font-size: 30px;
          margin-bottom: 30px;
          @media (max-width: 1200px) {
            font-size: 24px;
          }
          @media (max-width: 768px) {
            font-size: 18px;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 3px;
            width: 60px;
            background-color: #fa441d;
          }
        }
      }
      p {
        max-width: 60%;
        color: #444444;
        font-size: 18px;
        @media (max-width: 768px) {
          max-width: 100%;
          font-size: 16px;
        }
        @media (max-width: 480px) {
          font-size: 14px;
        }
      }
      ul {
        li {
          color: #444444;
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 10px;
          &::before {
            content: "•";
          }
        }
      }

      .block {
        padding: 25px;
        background: rgba(161, 163, 171, 0.09);
        border-radius: 15px;
        text-align: center;

        h3 {
          font-weight: 700;
          font-size: 25px;
          margin-top: 15px;
          @media (max-width: 1200px) {
            font-size: 20px;
          }
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
        p {
          max-width: none;
          margin-top: 5px;
        }
      }
    }

    .extra-services {
      padding-block: 50px 100px;
      @media (max-width: 480px) {
        padding-block: 50px;
      }
      .service-block {
        .img {
          @media (max-width: 480px) {
            width: 100px;
            height: 100px;
          }
        }
        .info {
          h3 {
            @media (max-width: 480px) {
              font-size: 16px;
            }
          }
          p {
            @media (max-width: 480px) {
              font-size: 13px;
            }
          }

          span {
            color: $third-color;
            @media (max-width: 480px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
