@import "@/styles/variables.scss";

.shop-section {
  padding-block: 0 70px;
  :global {
    .swiper {
      padding-bottom: 50px !important;
      .swiper-slide {
        padding-top: 35px;
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          background-color: #d3d3d3;
          &.swiper-pagination-bullet-active {
            background-color: $primary-color;
          }
        }
      }
    }
    .block {
      position: relative;
      padding: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 5px solid #f8f8f8;
      border-radius: 169.28px;
      min-height: 230px;
      transition: $transition;
      &::before {
        content: "";
        position: absolute;
        left: 20px;
        top: -30px;
        width: 70px;
        height: 45px;
        background-color: #f8f8f8;
        border-radius: 33.5px;
        rotate: -25deg;
        transition: $transition;
      }

      a {
        position: absolute;
        inset: 0;
        z-index: 1;
      }
      .icon {
        width: 70px;
        height: 70px;
        margin: 0 auto 15px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h3 {
        font-size: 18px;
        font-weight: 600;
        color: #000;
        text-align: center;
      }

      &:hover {
        border-color: $secondary-color;
        &::before {
          background-color: $primary-color;
        }
      }
    }
  }
}
